@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
        format("woff2");
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
        U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 90vh;
    background-color:rgb(33,37,41);    
}

section {
    padding: 40px;
    color:antiquewhite;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 4px;
    font-family: "Inter";
}

section span {
    display: block;
    transform: translateY(-200px);
    opacity: 0;
}

.content {
    margin: 50px;
    background-color: rgba(62, 202, 202, 0.1);
    box-shadow: 0 0 25px rgba(0, 0, 0, 9.2);
}
